<!-- <div
  class="
    rounded-full
    flex
    items-center
    justify-center
    absolute
    bg-blue-400
    text-white
  "
  [style.width]="widget.width + 'px'"
  [style.height]="widget.height + 'px'"
  [style.left]="widget.x + '%'"
  [style.top]="widget.y + '%'"
>
  <p>{{ widget.type }}</p>
</div> -->
<!--  -->
<div class="box" cdkDrag>
  <form class="form">
    <mat-form-field class="">
      <mat-label>Favorite food</mat-label>
      <input matInput placeholder="Ex. Pizza" value="Sushi" />
    </mat-form-field>
  </form>
</div>
