<!-- Dynamic Import -->
<h2 class="m-24 -mb-20 flex justify-center text-lg">Use Dynamic Import</h2>
<div class="m-24 -mb-10 flex gap-x-2 justify-center">
  <button
    class="
      py-2
      px-4
      border border-transparent
      shadow-sm
      text-sm
      font-medium
      rounded-md
      text-white
      bg-blue-600
      hover:bg-blue-800
    "
    (click)="createComponentWithDynamicImport('blue')"
  >
    Add Blue Component with Dynamic import
  </button>

  <button
    class="
      py-2
      px-4
      border border-transparent
      shadow-sm
      text-sm
      font-medium
      rounded-md
      text-white
      bg-yellow-600
      hover:bg-yellow-800
    "
    (click)="createComponentWithDynamicImport('yellow')"
  >
    Add Yellow Component with Dynamic import
  </button>

  <button
    class="
      py-2
      px-4
      border border-transparent
      shadow-sm
      text-sm
      font-medium
      rounded-md
      text-white
      bg-red-600
      hover:bg-red-800
    "
    (click)="createComponentWithDynamicImport('red')"
  >
    Add Red Component with Dynamic import
  </button>
</div>

<!-- FactoryResolver Import -->
<h2 class="m-24 -mb-20 flex justify-center text-lg">
  Use FactoryResolver Import
</h2>
<div class="m-24 flex gap-x-2 justify-center">
  <button
    class="
      py-2
      px-4
      border border-transparent
      shadow-sm
      text-sm
      font-medium
      rounded-md
      text-white
      bg-blue-400
      hover:bg-blue-600
    "
    (click)="createComponentWithComponentFactoryResolver('blue')"
  >
    Add Blue Component with Factory
  </button>

  <button
    class="
      py-2
      px-4
      border border-transparent
      shadow-sm
      text-sm
      font-medium
      rounded-md
      text-white
      bg-yellow-400
      hover:bg-yellow-600
    "
    (click)="createComponentWithComponentFactoryResolver('yellow')"
  >
    Add Yellow Component with Factory
  </button>

  <button
    class="
      py-2
      px-4
      border border-transparent
      shadow-sm
      text-sm
      font-medium
      rounded-md
      text-white
      bg-red-400
      hover:bg-red-600
    "
    (click)="createComponentWithComponentFactoryResolver('red')"
  >
    Add Red Component with Factory
  </button>
</div>

<div class="p-24 flex relative justify-center gap-x-2 border-2">
  <div class="h-96 w-auto">
    <div #dynamic></div>
    <div #dynamicImport></div>
  </div>
</div>

<router-outlet></router-outlet>
